
<%= form_with model: current_user, url: profile_path, local: true, html: { multipart: true, class: "card bg-base-100 shadow-xl p-8" } do |f| %>
  <div class="form-control mb-4">
    <%= f.label :email, class: "label" %>
    <%= f.email_field :email, class: "input input-bordered" %>
  </div>

  <div class="form-control mb-4">
    <%= f.label :avatar, class: "label" %>
    <%= f.file_field :avatar, class: "file-input file-input-bordered" %>
    <% if current_user.avatar.attached? %>
      <p class="mt-2">Current Avatar:</p>
      <%= image_tag current_user.avatar.variant(resize_to_fill: [100, 100]), class: "rounded-full w-24 h-24 mt-1" %>
    <% end %>
  </div>

  <div class="form-control mb-4">
  <%= f.label :bio, class: "label" %>
  <%= f.rich_text_area :bio %>
</div>

  <%= f.submit "Update Profile", class: "btn btn-primary" %>
<% end %>

