<div class="text-sm">
  <p class="font-semibold"><%= shipping_address.full_name %></p>
  <p><%= shipping_address.street_address %></p>
  <p><%= shipping_address.city %>, <%= shipping_address.state %> <%= shipping_address.zip_code %></p>
  <p><%= shipping_address.country %></p>
</div>
